@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::selection {
  background: #000;
  color: #fff;
}
